/build
es (16 sloc) 243 Bytes
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
gradle.properties
google-services.json
plantagram-7693c-firebase-adminsdk-pct7j-2430b35443.json